

<div>
    <h1>List of jobs</h1>
    <button routerLink="add">Add</button>


<div>
  <label for="filterName">Filter by title:</label>
  <input type="text" id="filterTitle" [(ngModel)]="filter" (input)="filterJobByTitle(filter)">
</div>


    <div>
        <label>
          <input type="radio" name="selection" [checked]="selectedOption === 5" (change)="selectedOption = 5; onOptionChange()">
         5
        </label>
        <br>
        <label>
          <input type="radio" name="selection" [checked]="selectedOption === 10" (change)="selectedOption = 10; onOptionChange()">
          10
        </label>
        <br>
        <label>
          <input type="radio" name="selection" [checked]="selectedOption === 15" (change)="selectedOption = 15; onOptionChange()">
          15
        </label>
      </div>
      <div>
      <select name="selected" (change)="onSelectChange($event.target)">
        <option  value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
      </select>
      </div>
   
    <ul>
        <li *ngFor ="let job of filteredJobs">
           <a routerLink="{{job._id}}">{{job.title}} </a> 
        </li>
   </ul>


   <br>
     <button (click)="previous()" [disabled]="previousDisnable">previous </button>
   <button (click)="next()" [disabled]= "nextDisnable" >next </button>
 
   </div>














   <!-- <div>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>title</th>
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let job of jobs | paginate: { itemsPerPage: count, currentPage: p }">
                <td>{{job.title}}</td>
             
             
              </tr>
            </tbody>
          </table>
        </div>
        <div class="text-right">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div> -->
  
<!-- </div> --> 


