
<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->


<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-6 sm:px-6 sm:py-3 lg:max-w-7xl lg:px-8">
    
    <h2 class="text-2xl font-mono-bold tracking-tight text-gray-900">Team : {{team.name}} </h2>
    <h2 class="text-2xl font-mono tracking-tight text-gray-900">Country : {{team.country}}</h2>
    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-2 xl:gap-x-8">
      <div class="group relative">
        <h3 class="text-2xl font-mono tracking-tight text-gray-900">Best moments</h3>
          <youtube-player
          class="border border-gray-300 rounded"
          videoId="SUQlqxgp6SQ"
          [startSeconds]="0"
          [width]="560"
          [height]="315"
        ></youtube-player>
      
      </div>
      <div class="group relative">
        <h3 class="text-2xl font-mono tracking-tight text-gray-900">Team description</h3>

          <youtube-player
          class="border border-gray-300 rounded"
          videoId="kmSPgklaviQ"  
          [startSeconds]="0"
          [width]="560"
          [height]="315"
        ></youtube-player>
     
      </div>

      <!-- More products... -->
    </div>


    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Players</h2>


    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">

      <div class="group relative">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
          <img src="../../assets/images/players/FREAK_NGX.png" alt="Front of men&#039;s Basic Tee in black. ">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
           
                <span aria-hidden="true" class="absolute inset-0"></span>
              Freak             
            </h3>
            <p class="mt-1 text-sm text-gray-500">supporter</p>
          </div>
        </div>
      </div>
      <!-- <div class="group relative">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
          <img src="../../assets/images/players/LORD_NGX.png" alt="Front of men&#039;s Basic Tee in black. ">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
              LORD              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Fragger</p>
          </div>
        </div>
      </div>
      <div class="group relative">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
          <img src="../../assets/images/players/HAMODY_NGX.png" alt="Front of men&#039;s Basic Tee in black. ">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
              LORD              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Fragger</p>
          </div>
        </div>
      </div>

      <div class="group relative">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
          <img src="../../assets/images/players/RAUOF_NGX.png" alt="Front of men&#039;s Basic Tee in black. ">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
              LORD              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Fragger</p>
          </div>
        </div>
      </div> -->


      <!-- More products... -->
    </div>
  </div>
</div>

  <!-- <youtube-player
          class="border border-gray-300 rounded"
          videoId="FQ0iq10ULNA"
          [startSeconds]="0"
          [width]="560"
          [height]="315"
        ></youtube-player> -->