<div class="bg-white py-24 sm:py-32">
    <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
      <div class="max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">PMPL</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">PUBG Mobile Pro League (abbreviated as PMPL) is the official PUBG Mobile professional league taking place across the world. 
            It is organized by Level Infinite
            Currently, the PMPL is actively held across 6 regions, with a total of 14 leagues. 
        </p>
      </div>
      
      <ul role="list" class="grid gap-x-3 gap-y-8 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
        <li *ngFor="let pmpl of pmpls">
          <div class="flex items-center gap-x-6">
         <img class="h-16 w-16 rounded-full " src="../../assets/images/pro.png" alt="">
         <!-- <a routerLink="{{pmpl._id}}"> -->
            <div>
              <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">{{pmpl.region}}</h3>
              <p class="text-sm font-semibold leading-6 text-indigo-600"  >{{pmpl.title}}</p>
              <p class="text-sm font-semibold leading-6 text-indigo-600"  >        
                      <a href="#" class="inline-block rounded-md border
                       border-transparent bg-blue-600 px-4 py-1 
                      text-center
                      font-medium 
                      text-white 
                      mt-2
                      hover:bg-indigo-900"  routerLink="{{pmpl._id}}">Teams</a>
              </p>

            </div>
          </div>
        </li>
      
        <!-- <a routerLink="{{job._id}}">{{job.title}} </a>  -->

  
        <!-- More people... -->
      </ul>
    </div>
  </div>
  