<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
    <div class="max-w-2xl">
      <div>
        <div class="px-4 sm:px-0">
          <h2 class="text-base font-semibold leading-7 text-black-900"> Description</h2>
          <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">{{pmpl.title}}</p>
        </div>
        <div class="mt-6 border-t border-gray-100">
          <dl class="divide-y divide-gray-100">
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-sm font-medium leading-6 text-gray-900">Region</dt>
              <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{pmpl.region}}</dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-sm font-medium leading-6 text-gray-900">Prize</dt>
              <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{pmpl.prize}}</dd>
            </div>
            <a href="#" class="inline-block rounded-md border
              border-transparent bg-blue-600 px-10 py-1 
              text-center
              font-medium 
              text-white 
              mt-2
              hover:bg-indigo-900" *ngIf="isLoggedIn" routerLink="/pmpl/{{pmpl._id}}/edit">Update</a>
            <button
              class="inline-block rounded-md border border-transparent bg-red-600 px-10 py-1 text-center font-medium text-white mt-2 hover:bg-red-700"
              *ngIf="isLoggedIn" (click)="deletePmpl(pmpl._id)">
              Delete 
            </button>


          </dl>
        </div>
      </div>

    </div>

    <ul role="list" class="grid gap-x-3 gap-y-8 sm:grid-cols-3 sm:gap-y-16 xl:col-span-2">
      <li *ngFor="let team of pmpl.teams">

        <div class="flex items-center gap-x-6">
          <a [routerLink]="'/team/' + pmplId + '/' + team._id"><img class="h-16 w-16 rounded-full"
              src="../../assets/images/players/{{team.teamLogo}} " alt=""></a>
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">{{team.name}}</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">{{team.country}}</p>
            <a [routerLink]="'/team/' + pmplId + '/' + team._id" class="inline-block rounded-md border
                       border-transparent bg-indigo-500 px-5 py-0
                      text-center
                      font-medium 
                      text-white 
                      mt-2
                      hover:bg-indigo-900" routerLink="{{pmpl._id}}">Players</a>
          </div>
        </div>
      </li>
      <li></li>
      <li></li>
      <li>
        <div class="flex items-center gap-x-6">

          <a href="#" class="inline-block rounded-md border
              border-transparent bg-green-600 px-20 py-1 
              text-center
              font-medium 
              text-white 
              mt-2
            hover:bg-indigo-900" *ngIf="isLoggedIn" routerLink="/team-form/{{pmpl._id}}">Add Team</a>
        </div>
      </li>






      <!-- More people... -->
    </ul>
  </div>
</div>