<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
    <div class="max-w-2xl">
      <div>
        <div class="px-4 sm:px-0">
          <h3 class="text-base font-semibold leading-7 text-gray-900">Applicant Information</h3>
          <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">Personal details and application.</p>
        </div>
        <div class="mt-6 border-t border-gray-100">
          <dl class="divide-y divide-gray-100">
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-sm font-medium leading-6 text-gray-900">Full name</dt>
              <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">Margot Foster</dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-sm font-medium leading-6 text-gray-900">Application for</dt>
              <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">Backend Developer</dd>
            </div>
         
         
          </dl>
        </div>
      </div>
      
    </div>
    
    <ul role="list" class="grid gap-x-4 gap-y-8 sm:grid-cols-4 sm:gap-y-16 xl:col-span-2">
      <li>
        <div class="flex items-center gap-x-6">
          <a  routerLink="'/teams'"><img class="h-16 w-16 rounded-full" src="../../assets/images/pro.png" alt="" ></a>
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">PMPL</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Arabia</p>
          </div>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-x-6">
          <img class="h-16 w-16 rounded-full" src="../../assets/images/pro.png" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">PMPL </h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Africa</p>
          </div>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-x-6">
          <img class="h-16 w-16 rounded-full" src="../../assets/images/pro.png" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">PMPL </h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Africa</p>
          </div>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-x-6">
          <img class="h-16 w-16 rounded-full" src="../../assets/images/pro.png" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">PMPL </h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Africa</p>
          </div>
        </div>
      </li>
     
     
     

      <!-- More people... -->
    </ul>
  </div>
</div>
