<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-white">
  <body class="h-full">
  ```
-->

<html class="h-full bg-white">

<body class="h-full">
    <div class="flex min-h-full flex-col justify-center px-8 py-1 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto h-14 w-auto" src="../../assets/images/pro.png" alt="PMPL">
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
 
<form   (ngSubmit)="onSubmit()">
    <div class="space-y-12">
      <div class="border-b border-gray-900/10 pb-12">
        <h2 class="text-base font-semibold leading-7 text-gray-900">Team Information:</h2>
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Name</label>
            <div class="mt-2">
              <input type="text" name="name" id="name"  [(ngModel)]="teamForm.name" autocomplete="given-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="Country"
                class="block text-sm font-medium leading-6 text-gray-900">Country</label>
            <div class="mt-2">
                <input type="text" name="Country" id="Country" [(ngModel)]="teamForm.country" autocomplete="Country"  
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>
        <div class="sm:col-span-3">
            <label for="teamlogo"
                class="block text-sm font-medium leading-6 text-gray-900">Team Logo</label>
            <div class="mt-2">
                <input type="text" name="teamlogo" id="teamlogo" [(ngModel)]="teamForm.teamLogo" autocomplete="Country"  
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>


        <div class="sm:col-span-3">
            <label for="bestClip" class="block text-sm font-medium leading-6 text-gray-900">Best
                moment clip</label>
            <div class="mt-2">
                <input type="text" name="bestClip" id="bestClip" autocomplete="bestClip"  [(ngModel)]="teamForm.Best_Moment_clip"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>

        <div class="sm:col-span-3">
            <label for="descClip"
                class="block text-sm font-medium leading-6 text-gray-900">Description clip</label>
            <div class="mt-2">
                <input type="text" name="descClip" id="descClip" autocomplete="descClip" [(ngModel)]="teamForm.Description_clip"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>

        <div class="sm:col-span-4">
            <label for="email"
                class="block text-sm font-medium leading-6 text-gray-900">Players</label>

        </div>

        <div class="sm:col-span-2 sm:col-start-1">
            <label for="p1_name" class="block text-sm font-medium leading-6 text-gray-900">P1-
                Name</label>
            <div class="mt-2">
                <input type="text" name="p1_name" id="p1_name" autocomplete="p1_name"  [(ngModel)]="teamForm.players[0].name"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>

        <div class="sm:col-span-2">
            <label for="p1_role"
                class="block text-sm font-medium leading-6 text-gray-900">Role</label>
            <div class="mt-2">
                <input type="text" name="p1_role" id="p1_role" autocomplete="p1_role"  [(ngModel)]="teamForm.players[0].role"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>

        <div class="sm:col-span-2">
            <label for="postal-code" class="block text-sm font-medium leading-6 text-gray-900">Picture path</label>
            <div class="mt-2">
                <input type="text" name="p1_pic" id="p1_pic" autocomplete="p1_pic"  [(ngModel)]="teamForm.players[0].picture"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>




     <div class="sm:col-span-2 sm:col-start-1">
            <label for="p2_name" class="block text-sm font-medium leading-6 text-gray-900">P2-
                Name</label>
            <div class="mt-2">
                <input type="text" name="p2_name" id="p2_name"  autocomplete="p2_name" [(ngModel)]="teamForm.players[1].name"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>

        <div class="sm:col-span-2">
            <label for="p2_role"
                class="block text-sm font-medium leading-6 text-gray-900">Role</label>
            <div class="mt-2">
                <input type="text" name="p2_role" id="p2_role"  autocomplete="p2_role" [(ngModel)]="teamForm.players[1].role"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>

        <div class="sm:col-span-2">
            <label for="postal-code" class="block text-sm font-medium leading-6 text-gray-900">Picture path</label>
            <div class="mt-2">
                <input type="text" name="p2_pic" id="p2_pic"  autocomplete="p2_role" [(ngModel)]="teamForm.players[1].picture"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div> 




 
        <div class="sm:col-span-2 sm:col-start-1">
            <label for="p3_name" class="block text-sm font-medium leading-6 text-gray-900">P3-
                Name</label>
            <div class="mt-2">
                <input type="text" name="p3_name" id="p3_name"  autocomplete="p3_name" [(ngModel)]="teamForm.players[2].name"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>

        <div class="sm:col-span-2">
            <label for="p3_role"
                class="block text-sm font-medium leading-6 text-gray-900">Role</label>
            <div class="mt-2">
                <input type="text" name="p3_role" id="p3_role"  autocomplete="p3_role" [(ngModel)]="teamForm.players[2].role"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>

        <div class="sm:col-span-2">
            <label for="postal-code" class="block text-sm font-medium leading-6 text-gray-900">Picture</label>
            <div class="mt-2">
                <input type="text" name="p3_pic" id="p3_pic"  autocomplete="p3_pic" [(ngModel)]="teamForm.players[2].picture"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>

        <div class="sm:col-span-2 sm:col-start-1">
            <label for="p4_name" class="block text-sm font-medium leading-6 text-gray-900">P4-
                Name</label>
            <div class="mt-2">
                <input type="text" name="p4_name" id="p4_name"  autocomplete="p4_name" [(ngModel)]="teamForm.players[3].name"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>

        <div class="sm:col-span-2">
            <label for="p4_role"
                class="block text-sm font-medium leading-6 text-gray-900">Role</label>
            <div class="mt-2">
                <input type="text" name="p4_role" id="p4_role"  autocomplete="p4_role" [(ngModel)]="teamForm.players[3].role"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>

        <div class="sm:col-span-2">
            <label for="postal-code" class="block text-sm font-medium leading-6 text-gray-900">Picture</label>
            <div class="mt-2">
                <input type="text" name="p4_pic" id="p4_pic"  autocomplete="p3_pic" [(ngModel)]="teamForm.players[3].picture"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>

      
        

        


        </div>
      </div>
    </div>
  
    <div class="mt-6 flex items-center justify-end gap-x-6">
      <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
      <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
    </div>
  </form>
  


            



        </div>
    </div>
</body>

</html>